.img {
  width: auto;
  height: 100%;
  margin-left: 10%;
}

.about_pic {
  margin-top: 30px;
  display: flex;
  width: 70vw;
  height: 40vw;
  margin-left: auto;
  margin-right: auto;
}

.picture {
  width: 40%;
}

.text {
  margin-top: 10vw;
  width: 35vw;
}

@media screen and (max-width: 1100px) {
  .text {
    margin-top: 0%;
  }
}

@media screen and (max-width: 910px) {
  .about_pic {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
  }
  .img {
    margin-top: 10vw;
    width: 60vw;
    height: auto;
    align-items: center;
  }
  .text {
    width: 100%;
  }
}

 @media screen and (max-width: 800px) {
  .about_pic {
    height: 800px;
  }
}
@media screen and (max-width: 600px) {
  .about_pic {
    height: 700px;
  }
}