
.picture_card {
    width: 60vw;
    height: auto;
    margin-top: 2rem;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    box-shadow: -1px 3px 5px #cecece;
  }


.src1 {
    max-width: 100%;
    max-height: auto;
    overflow: hidden;
}

.src2 {
    max-width: 100%;
    max-height: auto;
    overflow: hidden;
    display: none;
}

.src3 {
    max-width: 100%;
    max-height: auto;
    overflow: hidden;
    display: none;
}

@media screen and (max-width: 910px) {
  .picture_card {
    width: 95vw;
    height: auto;
    margin-top: 0.7rem;
  }
  
  .src1 {
      display: none;
  }

  .src2 {
      display: flex;
  }
  .src3 {

    margin-top: 10px;
    display: flex;
}

  
}
